#Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_YWRhcHRpbmctZ2F0b3ItNzMuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_HMj3GtAExBh7aOUuvxmz0ZilSdgPy0Y95apF9Q3KaI

#Convex
# Deployment used by `npx convex dev`
CONVEX_DEPLOYMENT=dev:animated-gull-434 # team: subhadeep-mondal, project: ticketr-bbe0c
CONVEX_DEPLOY_KEY=
NEXT_PUBLIC_CONVEX_URL=https://animated-gull-434.convex.cloud

#stripe
STRIPE_SECRET_KEY=sk_test_51RGO40PZTA6eUT52bEkrgFYNTbStJfp3KaIwE1IDZeylYc8kvvurYoa1nqr4fwykxDPEkZLjzfFrNbi82YoyEw6T00dSWUqqjK

STRIPE_WEBHOOK_SECRET=whsec_fa1620bda39d3abcb2d05b65c32cc5943cfa839376ec5b41973d981f3c676b7c